.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #BBB;
  z-index: 999;
  height: 5vh;
}

#nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline;
  margin-right: 10px;
}

.nav-bar .left {
  float: left;
}

.nav-bar .right {
  float: right;
}

.nav-bar a {
  text-decoration: none;
}

.page-content {
  padding-top: 3vh;
}