.App {
  background-color: var(--background-color);
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: blue;
  z-index: 999;
  height: 4.75vh;
  background-color: var(--primary-color);
}

#nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline;
  margin: 10px;
}

.nav-bar .left {
  float: left;
}

.nav-bar .right {
  float: right;
}

.nav-bar a {
  text-decoration: none;
  color: var(--text-color);
}

.page-content {
  margin: 1vh 1vw;
  height: 93.25vh;
}

 /* initially hide the button on all screens */
.mobile-menu-button {
  display: none;
  background: none;
  border: none;
}

/* Media query for mobile menu */
@media (max-width: 768px) {

  /* Show the mobile menu button on small screens */
  .mobile-menu-button {
    display: block;
    font-size: 24px;
    color: var(--text-color);
  }
  .nav-bar {
    display: none;
  }

  .nav-bar.mobile-menu {
    display: block;
    text-align: center; /* Center align the entire list */
    background-color: var(--primary-color);
    position: absolute;
    top: 4.75vh;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 22vh;
  }
  
  /* Style the links within the mobile dropdown menu */
  .nav-bar.mobile-menu a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
  }
  

}
