/* App.css or your CSS/SCSS file */
#nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-list.nav-bar li {
  display: inline;
  margin-right: 10px; /* Add spacing between list items */
}

#nav-list.nav-bar .left {
  float: left;
}

#nav-list.nav-bar .right {
  float: right;
}

#nav-list.nav-bar a {
  text-decoration: none;
  color: #000; /* Add your desired text color */
}
