.nowPlayingWrapper{
        display: flex;
        flex-direction: row;
}

.nowPlayingAlbumArt {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        animation: pop 0.9s infinite; /* Add this line */
}

.nowPlayingControls{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}
.pausePlayControls{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.forwardBackwardControls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sessionID{
    margin-right: 6vw;
    display: flex;
    flex-direction: column;
}

.sessionIDNoSong{
    margin-right: 22vw;
    display: flex;
    flex-direction: column;
}

.sessionIDTop{
    display: flex;
    flex-direction: row;
}

.sessionIDHoverText{
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nowPlayingWrapper {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .nowPlayingAlbumArt {
        margin: 0;
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }

    .sessionID{
        margin-right: 0;
    }
}

